empty.cs
source/*/obj
source/*/bin
*.chm
*.csproj.user
*.suo
*.csproj-[1-9]*
*.csproj[1-9]*
*~
*.sql
*.swp
*.swo
/source/docs/Help/*.*
artifacts
UpgradeLog.XML
_UpgradeReport_Files
git.yaml
Gemfile.lock
*mm_cache*
db_dev.rb
*.[Dd]otSettings*
*.ncrunch*
_[Rr]e[Ss]harper.*
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.cache
